In [3]:
!conda install -y py2neo

Solving environment: done

## Package Plan ##

  environment location: /Users/squiresrb/anaconda3

  added / updated specs:
    - py2neo


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    py2neo-4.0.0b2             |           py36_0         107 KB  conda-forge
    neo4j-python-driver-1.1.0rc1|           py36_0          61 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         169 KB

The following NEW packages will be INSTALLED:

    neo4j-python-driver: 1.1.0rc1-py36_0 conda-forge
    py2neo:              4.0.0b2-py36_0  conda-forge


Downloading and Extracting Packages
py2neo-4.0.0b2       | 107 KB    | ##################################### | 100%
neo4j-python-driver- | 61 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [1]:
from py2neo import Graph, Node, Relationship, authenticate

ModuleNotFoundError: No module named 'py2neo'

*Important Note* - when calling the authenticate function, pass in the password you used during installation as the last argument. In this exercise file, "neo4j_train" is the password. Your's may be different.

In [2]:
authenticate("localhost", "neo4j", "neo4j_train")

In [3]:
g = Graph(host='localhost')#create a graph database

In [8]:
type(g)

py2neo.database.Graph

In [5]:
!ls *.txt

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [6]:
!head node_city.txt

'head' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
#this is a transaction which needs to have a begin and commit an between those 2 is a transaction
# this transaction is used to create the node city
tx = g.begin()
with open('node_city.txt') as f_in:
    for line in f_in:
        city_list = line.rstrip().split(',')
        city = Node("City",name=city_list[0], population=city_list[1])
        tx.create(city)
tx.commit()

In [10]:
g.data("MATCH (c:City) RETURN c.name, c.population")#equivalent to sql command select 
#all nodes of type city are matched and it returns 2 properties

[{u'c.name': u'New_York', u'c.population': u' 8491079'},
 {u'c.name': u'Los_Angeles', u'c.population': u' 3928864'},
 {u'c.name': u'Chicago', u'c.population': u' 2722389'},
 {u'c.name': u'Houston', u'c.population': u' 2239558'},
 {u'c.name': u'Philadelphia', u'c.population': u' 1560297'},
 {u'c.name': u'Phoenix', u'c.population': u' 1537058'},
 {u'c.name': u'San_Antonio', u'c.population': u' 1436697'},
 {u'c.name': u'San_Diego', u'c.population': u' 1381069'},
 {u'c.name': u'Dallas', u'c.population': u' 1281047'},
 {u'c.name': u'San_Jose', u'c.population': u' 1015785'},
 {u'c.name': u'Austin', u'c.population': u' 912791'},
 {u'c.name': u'Jacksonville', u'c.population': u' 853382'},
 {u'c.name': u'San_Francisco', u'c.population': u' 852469'},
 {u'c.name': u'Indianapolis', u'c.population': u' 848788'},
 {u'c.name': u'Columbus', u'c.population': u' 835957'},
 {u'c.name': u'Fort_Worth', u'c.population': u' 812238'},
 {u'c.name': u'Charlotte', u'c.population': u' 809958'},
 {u'c.name': u'Detroit', u'c.population': u' 680250'},
 {u'c.name': u'Seattle', u'c.population': u' 66342'},
 {u'c.name': u'Denver', u'c.population': u' 663862'}]

In [11]:
g.data("MATCH (c:City) RETURN c.name, c.population LIMIT 10")

[{u'c.name': u'New_York', u'c.population': u' 8491079'},
 {u'c.name': u'Los_Angeles', u'c.population': u' 3928864'},
 {u'c.name': u'Chicago', u'c.population': u' 2722389'},
 {u'c.name': u'Houston', u'c.population': u' 2239558'},
 {u'c.name': u'Philadelphia', u'c.population': u' 1560297'},
 {u'c.name': u'Phoenix', u'c.population': u' 1537058'},
 {u'c.name': u'San_Antonio', u'c.population': u' 1436697'},
 {u'c.name': u'San_Diego', u'c.population': u' 1381069'},
 {u'c.name': u'Dallas', u'c.population': u' 1281047'},
 {u'c.name': u'San_Jose', u'c.population': u' 1015785'}]

In [14]:
#select nodes which are of type cities
result_set = g.node_selector.select("City")

In [15]:
type(result_set)

py2neo.database.selection.NodeSelection

In [16]:
result_set.first()

(ed11ac8:City {name:"New_York",population:" 8491079"})

In [17]:
LA = result_set.where(name="Los_Angeles")

In [18]:
type(LA)

py2neo.database.selection.NodeSelection

In [19]:
LA.first()

(d76151e:City {name:"Los_Angeles",population:" 3928864"})

In [20]:
for r in result_set:
    print r

(ed11ac8:City {name:"New_York",population:" 8491079"})
(d76151e:City {name:"Los_Angeles",population:" 3928864"})
(ec2d143:City {name:"Chicago",population:" 2722389"})
(bd0bb2f:City {name:"Houston",population:" 2239558"})
(c0484e8:City {name:"Philadelphia",population:" 1560297"})
(phoenix:City {name:"Phoenix",population:" 1537058"})
(san_antonio:City {name:"San_Antonio",population:" 1436697"})
(san_diego:City {name:"San_Diego",population:" 1381069"})
(dallas:City {name:"Dallas",population:" 1281047"})
(san_jose:City {name:"San_Jose",population:" 1015785"})
(austin:City {name:"Austin",population:" 912791"})
(jacksonville:City {name:"Jacksonville",population:" 853382"})
(san_francisco:City {name:"San_Francisco",population:" 852469"})
(indianapolis:City {name:"Indianapolis",population:" 848788"})
(columbus:City {name:"Columbus",population:" 835957"})
(fort_worth:City {name:"Fort_Worth",population:" 812238"})
(charlotte:City {name:"Charlotte",population:" 809958"})
(detroit:City {name:"Detroit",population:" 680250"})
(seattle:City {name:"Seattle",population:" 66342"})
(denver:City {name:"Denver",population:" 663862"})

In [24]:
!ls *.txt

edge_distance.txt node_city.txt

In [25]:
!head edge_distance.txt

New_York,Los_Angeles, 2451
New_York,Chicago, 733
New_York,Philadelphia, 95
New_York,Dallas, 1373
New_York,San_Francisco, 2572
Los_Angeles,San_Francisco, 382
Los_Angeles,Chicago, 1756
Los_Angeles,Austin, 1377
Los_Angeles,San_Jose, 306
Los_Angeles,Charlotte, 2125

In [25]:
tx = g.begin()
with open('edge_distance.txt') as f_in:
    for line in f_in:
        edge_list = line.rstrip().split(',')
        city1_name = edge_list[0]
        city2_name = edge_list[1]
        city1_node = result_set.where(name=city1_name)
        city2_node = result_set.where(name=city2_name)
        city_pair = Relationship(city1_node, "FLIGHT_BETWEEN", city2_node)
        city_pair["distance"] = edge_list[2]
        tx.create(city_pair)
tx.commit()

In [26]:
g.relationship_types

frozenset({u'FLIGHT_BETWEEN'})

In [27]:
import pandas as pd

In [28]:
flight_list = list()

In [29]:
for cities in g.match(rel_type="FLIGHT_BETWEEN"):
    city1_name = cities.nodes()[0]['name']
    city2_name = cities.nodes()[1]['name']
    distance = cities['distance']
    flight_list.append([city1_name, city2_name, distance])

In [30]:
type(flight_list)

list

In [31]:
flight_list[0]

[u'New_York', u'Los_Angeles', u' 2451']

In [32]:
flight_df = pd.DataFrame(flight_list)

In [33]:
flight_df

                 0              1      2
0         New_York    Los_Angeles   2451
1         New_York        Chicago    733
2         New_York   Philadelphia     95
3         New_York         Dallas   1373
4         New_York  San_Francisco   2572
5      Los_Angeles  San_Francisco    382
6      Los_Angeles        Chicago   1756
7      Los_Angeles         Austin   1377
8      Los_Angeles       San_Jose    306
9      Los_Angeles      Charlotte   2125
10         Chicago        Houston    925
11         Chicago        Phoenix   1753
12         Chicago    San_Antonio   1192
13         Chicago   Jacksonville   1063
14         Chicago  San_Francisco   1850
15         Houston        Phoenix   1174
16         Houston    San_Antonio    197
17         Houston     Fort_Worth    262
18    Philadelphia         Dallas   1467
19    Philadelphia        Detroit    453
20    Philadelphia         Denver   1557
21         Phoenix    San_Antonio   1742
22         Phoenix         Dallas   1064
23         Phoenix  San_Francisco    651
24     San_Antonio         Austin     74
25     San_Antonio   Indianapolis   1172
26     San_Antonio     Fort_Worth    268
27       San_Diego         Dallas   1358
28       San_Diego       San_Jose    414
29          Dallas       San_Jose   1690
..             ...            ...    ...
72         Phoenix    San_Antonio   1742
73         Phoenix         Dallas   1064
74         Phoenix  San_Francisco    651
75     San_Antonio         Austin     74
76     San_Antonio   Indianapolis   1172
77     San_Antonio     Fort_Worth    268
78       San_Diego         Dallas   1358
79       San_Diego       San_Jose    414
80          Dallas       San_Jose   1690
81          Dallas         Austin    191
82          Dallas  San_Francisco   1484
83          Dallas        Detroit   1187
84         Detroit         Austin   1382
85         Detroit     Fort_Worth   1218
86        San_Jose   Jacksonville   2755
87          Austin  San_Francisco   1758
88          Austin   Indianapolis   1094
89    Jacksonville   Indianapolis    879
90   San_Francisco       Columbus   2451
91   San_Francisco        Detroit   2090
92    Indianapolis      Charlotte    575
93    Indianapolis        Seattle   2219
94        Columbus     Fort_Worth   1071
95        Columbus         Denver   1269
96      Fort_Worth      Charlotte   1060
97      Fort_Worth        Seattle   2082
98       Charlotte        Detroit    615
99       Charlotte        Seattle   2279
100        Detroit        Seattle   1936
101        Seattle         Denver   1316

[102 rows x 3 columns]