# Introduction to SQL with SQLite and Python

[<img src="https://www.sqlite.org/images/sqlite370_banner.gif">](https://www.sqlite.org/index.html)

"SQLite is an in-process library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. The code for SQLite is in the public domain and is thus free for use for any purpose, commercial or private. SQLite is the most widely deployed database in the world with more applications than we can count, including several high-profile projects.

SQLite is an embedded SQL database engine. Unlike most other SQL databases, SQLite does not have a separate server process. SQLite reads and writes directly to ordinary disk files. A complete SQL database with multiple tables, indices, triggers, and views, is contained in a single disk file. The database file format is cross-platform - you can freely copy a database between 32-bit and 64-bit systems or between big-endian and little-endian architectures. These features make SQLite a popular choice as an Application File Format. SQLite database files are a recommended storage format by the US Library of Congress."

__Executive Summary__

- Full-featured SQL
- Billions and billions of deployments
- Single-file database
- Public domain source code
- All source code in one file (sqlite3.c)
- Small footprint
- Max DB size: 140 terabytes (247 bytes)
- Max row size: 1 gigabyte
- Faster than direct file I/O
- Aviation-grade quality and testing
- Zero-configuration
- ACID transactions, even after power loss
- Stable, enduring file format
- Extensive, detailed documentation
- Long-term support

---

### How to install SQLite3:

In [ ]:
conda install -y sqlite

### How to quickly use on the command line:

* <b>To start:</b> ubuntu@ubuntu:~$ sqlite3
    
* <b>To quit:</b>  sqlite> .quit
    
* <b>To create:</b> ubuntu@ubuntu:~$  sqlite3 database_name.db
    
* <b>To check:</b> sqlite> .databases

### Check `sqlite3` Module & Version

In [ ]:
import sqlite3
dir(sqlite3)

In [ ]:
# sqlite3 module version
print(sqlite3.version)
print(sqlite3.version_info)

In [ ]:
# sqlite3 db version
print(sqlite3.sqlite_version)
print(sqlite3.sqlite_version_info)

### How To Use the sqlite_version function For Checking Version in sqlites

In [ ]:
import sqlite3

def sqlite_version() :

    try :
        conn = sqlite3.connect('sql_test.db')
        cur = conn.cursor()
        sql = "select sqlite_version() AS 'SQLite Version';"
        
        cur.execute(sql)
        print(cur.fetchone())
        
        conn.close()
        print("sqlite_version sucess")   
    
    except Exception as err :
        print('error', err)
        
sqlite_version()

## Running DB Server

### DB Connection

In [ ]:
import sqlite3
conn = sqlite3.connect('sql_test.db')

In [ ]:
print(type(conn))

In [ ]:
print(dir(conn))

### Sqlite3.cursor

In [ ]:
import sqlite3
conn = sqlite3.connect('sql_test')
cur = conn.cursor()

print(type(conn))

for i in dir(cur) :
    if not i.startswith("__") :
        print(i)
cur.close()

### cursor.excute

In [ ]:
# Making student table
import sqlite3
conn = sqlite3.connect('data/sql_test.db')
cur = conn.cursor()

sql = "create table student(name text, age int)"

cur.execute(sql)
conn.commit()
conn.close()

In [ ]:
# END

# SQLite - Python Quick Guide

### Cotents of Table
```
(0) CONNECT TO DATABASE
(1) CREATE TABLE
(2) DROP TABLE
(3) INSERT QUERY
(4) SELECT QUERY
(5) UPDATE QUERY
(6) DELETE QUERY
```

### (0) CONNECT TO DATABASE

Following Python code shows how to <b>connect</b> to an existing database. If the database does not exist, then it will be created and finally a database object will be returned.

In [ ]:
import sqlite3

conn = sqlite3.connect('data/test.db')

print("Opened database successfully")

### (1) CREATE TABLE

#### Definition

* SQLite <b>CREATE TABLE</b> statement is used to <b>create</b> a new table in any of the given database. Creating a basic table involves naming the table and defining its columns and each column's data type.

#### Syntax
```
CREATE TABLE table_name(
    column1 datatype PRIMARY KEY(one or more columns),
    column2 datatype,
    column3 datatype,
    .....
    columnN datatype
);
```

Following Python program will be used to <b>create a table</b> in the previously created database.

In [ ]:
import sqlite3

conn = sqlite3.connect('data/test.db')
print("Opened database successfully")

conn.execute('''DROP TABLE COMPANY;''')
print("Table dropped if present")


conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Table created successfully")

conn.close()

### (2) DROP TABLE

#### Definition
* SQLite <b>DROP TABLE</b> statement is used to <b>remove</b> a table definition and all associated data, indexes, triggers, constraints, and permission specifications for that table.

#### Syntax
```
DROP TABLE table_name; 
```

                     We can also use from SQLite DB Browser.

<img src="https://github.com/leehaesung/SQLite-Python_Quick_Guide/blob/master/HowDeleteTableAtSQLite3.png?raw=true" height="500" width="550">

In [ ]:
# Deleting the student table in Python
import sqlite3
conn = sqlite3.connect('data/sql_test.db')
cur = conn.cursor()
sql = "DROP TABLE student;"
cur.execute(sql)
conn.commit()
conn.close()

### (3) INSERT QUERY

#### Definition
* SQLite <b>INSERT INTO</b> Statement is used to <b>add</b> new rows of data into a table in the database.

#### Syntax
```
TABLE_NAME [(column1, column2, column3,...columnN)] \
VALUES (value1, value2, value3,...valueN);
```

Following Python program shows how to <b>create records</b> in the COMPANY table created in the above example.

In [ ]:
import sqlite3

conn = sqlite3.connect('data/test.db')
print("Opened database successfully")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print("Records created successfully")
conn.close()

                     You can also check from SQLite DB Browser.

<img src = "https://github.com/leehaesung/SQLite-Python_Quick_Guide/blob/master/INSERTOperation.png?raw=true" height="500" width="550">

### (4) SELECT QUERY

#### Definition
* SQLite <b>SELECT</b> statement is used to <b>fetch</b> the data from a SQLite database table which returns data in the form of a result table. These result tables are also called result sets.

#### Syntax
```
SELECT column1, column2, columnN FROM table_name;

SELECT * FROM table_name;
```

Following Python program shows how to <b>fetch and display records</b> from the COMPANY table created in the above example.

In [ ]:
import sqlite3

conn = sqlite3.connect('data/test.db')
print("Opened database successfully")

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")

for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")

print("Operation done successfully")

conn.close()

### (5) UPDATE QUERY

#### Definition
* SQLite <b>UPDATE QUERY</b> is used to <b>modify</b> the existing records in a table. You can use <b>WHERE</b> clause with <b>UPDATE QUERY</b> to <b>update</b> selected rows, otherwise all the rows would <b>be updated.</b>

#### Syntax
```
UPDATE table_name
SET column1 = value1, column2 = value2...., columnN = valueN
WHERE [condition];
```

Following Python code shows how to use UPDATE statement to <b>update any record</b> and then fetch and display the updated records from the COMPANY table.

In [ ]:
import sqlite3

conn = sqlite3.connect('data/test.db')
print("Opened database successfully")

conn.execute("UPDATE COMPANY set SALARY = 40000.00 where ID = 1")
conn.commit
print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")

print("Operation done successfully")
conn.close()

### (6) DELETE QUERY

#### Definition

* SQLite <b>DELETE QUERY</b> is used to <b>delete</b> the existing records from a table. You can use WHERE clause with <b>DELETE QUERY</b> to <b>delete</b> the selected rows, otherwise all the records would be deleted.

#### Syntax
```
DELETE FROM table_name
WHERE [condition];
```

Following Python code shows how to use DELETE statement to <b>delete any record</b> and then fetch and display the remaining records from the COMPANY table.

In [ ]:
import sqlite3

conn = sqlite3.connect('data/test.db')

print("Opened database successfully")

conn.execute("DELETE from COMPANY where ID = 2;")
conn.commit()

print("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")

for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")

print("Operation done successfully")
      
conn.close()

                        You can also check from SQLite DB Browser.

<img src="https://github.com/leehaesung/SQLite-Python_Quick_Guide/blob/master/DELETEOperation.png?raw=true" height="500" width="550">

## Applications

* [SQLite3_with_Monitoring_IoT_Arduino_Temp_Sensor_MQTT.ipynb](http://nbviewer.jupyter.org/github/leehaesung/NodeRED/blob/master/02_CodeFiles/11_SigFox/02_SourceCodes/SQLite3_with_Monitoring_IoT_Arduino_Temp_Sensor_MQTT.ipynb)

* [SQLite3_with_Monitoring_IoT_ESP8266-01_Temp_Hum_Sensor_MQTT.ipynb](http://nbviewer.jupyter.org/github/leehaesung/NodeRED/blob/master/02_CodeFiles/10_ESP8266-01/02_Codes/SQLite3_with_Monitoring_IoT_ESP8266-01_Temp_Hum_Sensor_MQTT.ipynb)

* [SQLite3_with_Monitoring_Server_Temperature_MQTT.ipynb](http://nbviewer.jupyter.org/github/leehaesung/Monitor_MyServer_CPUTemperature/blob/master/02_Source_Codes/SQLite3_with_Monitoring_Server_Temperature_MQTT.ipynb)

## References

* SQLite Tutorial: https://www.tutorialspoint.com/sqlite/
* SQLite Quick Guide: https://www.tutorialspoint.com/sqlite/sqlite_quick_guide.htm
* SQLite - Python Tuotorial: https://www.tutorialspoint.com/sqlite/sqlite_python.htm
* SQLite - Python Quick Guide: https://github.com/leehaesung/SQLite-Python_Quick_Guide

In [ ]:
# END